
body {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    background: url("../img/background12.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
  }


  .logo {
    position: relative;
    width: 27%;
    height: auto;
    float: right;
    margin-top: 0%;
    margin-right: 4%;
  }


  .content {
    display: flex;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: #FF6A0E;
  }

  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }

    .content__container:hover {
        color: white;
    }

  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }

  .content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 16s;
    animation-iteration-count: infinite;
  }

    .content__container__list:hover {
        color: white;
    }

  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }

  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }



  .contenedor2{
        background-color: whitesmoke;
        border-radius: 1%;
        padding: 10px;
        margin-top: 0px;
        width: 100%;
  }

  .nav {
    font-family: "Lato", sans-serif;
    display: inline-block;
    background: #FF6A0E;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 3%;
    margin: 0 3px;
  }

  .nav:hover {
      background: #D65304;
  }



  .beneficios {
    float: right;
    position: fixed;
    margin-right: 10%;
    margin-top: 1%;
    margin-left: 48%;
    text-align: left;
    font-family: "Lato", sans-serif;
  }

  h1 {
    display: inline-block;
    color: #FF6A0E;
    font-size: 55px;
    border-color: white;
    text-shadow: 1px 3px white;
  }

  h3 {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-top: 0%;
    text-shadow: 1px 1px black;
  }


  .slyder1 {
    float: left;
    width: 45%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }

  .slyder1 ul {
    display: flex;
	  padding: 0;
	  width: 400%;
    margin-top: 7%;

    animation: slide 16s infinite alternate ease-in-out;
  }

  .slyder1 li {
    width: 100%;
	  list-style: none;
  }

  .slyder1 img {
    width: 100%;
  }

  @keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }

  .buttonform {
  padding: 10px;
  color: #fff;
  background: #FF5E0E;
  width: 10%;
  height: 3.5%;
  margin: 20px auto;
  margin-top: 36%;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  text-align: center;
  }

  .buttonform:hover {
    background: #D65304;
  }

  
  @media screen and (max-width: 1342px) {
    .content__container{
      display: none;
    }
  }


  @media screen and (max-width: 863px) {
    .logo {
      display: flex;
      margin-top: 0%;
      margin-right: 37%;
    }  
  }


  @media screen and (max-width: 800px) and (min-width: 596px) {
    body {
      background-size: cover;
      width: 100%;
      height: auto;
    } 

    .content__container {
      display: none
    }

    nav {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
    }

    .beneficios {
      left: 10%;
      top: 17%;
    }

    h1 {
      display: flex;
      font-size: 34px;
    }

    h3 {
      display: flex;
      font-size: 15px;
    }

    .slyder1 {
      width: 55%;
    }
}


@media screen and (max-width: 596px) and (min-width: 521px) {
  body {
    background-size: cover;
    width: 100%;
    height: auto;
  } 

  .content__container {
    display: none
  }

  .contenedor2 {
    display: flexbox;
  }

  nav {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 80%;
  }

  .beneficios {
    left: 10%;
    top: 14%;
  }

  h1 {
    display: flex;
    font-size: 27px;
  }

  h3 {
    display: flex;
    font-size: 12px;
  }

  .slyder1 {
    width: 55%;
  }
}


@media screen and (max-width: 521px) {
  body {
    background-size: cover;
    width: 100%;
    height: auto;
  } 

  .content__container {
    display: none
  }

  .contenedor2 {
    display: flexbox;
  }

  nav {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 61%;
  }

  .beneficios {
    left: 10%;
    top: 14%;
  }

  h1 {
    display: flex;
    font-size: 25px;
  }

  h3 {
    display: flex;
    font-size: 11px;
  }

  .slyder1 {
    width: 55%;
  }
}



